.center{
    text-align: center;
}

.fundo{
    background-color: wheat;
}

.fotoIng{
    margin-top: 30px;
}

#menu li{
    display: inline;
    padding: 2px;
    margin: 70px;
}

#menu li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#menu li a:hover{
    font-size: 20px;
    color: rgb(240, 14, 14);   
}

.homedis{
    padding-right: 90px;
}

.meioTela{
    padding: 30px;
}

.meioTela2{
    padding: 75px;
}

.mb-50{
    margin-bottom: 50px;
}

.contatoMeio{
    margin-bottom: 80px;
}

.emailesquerda{
    padding-left: 4%;
}

.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.resumoMeio{
    padding-top: 2.3%;
}

.fortnite{
    height: 400px;
}